<% content_for(:title, 'Create Announcement') %>
<div class="container mt-4 mb-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h1>New Announcement</h1>
        </div>
        <div class="card-body">
          <%= render 'form', announcement: @announcement %>
        </div>
      </div>

      <div class="mt-3">
        <%= link_to "Back to Announcements", announcements_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>
