<% content_for(:title, 'Admin Tools') %>

<div class="container mt-5">
  <%= link_to 'Upcoming Events', admin_upcoming_events_path %>


  <%= render 'admin_nonevent_points_manager' %>
  <%= render 'user_management' %>
  <%= render 'demographics' %>
</div>
