<div class="events delete">
  <header class="top-bar">
    <h1>
        Delete Profile
    </h1>
  </header>
  <%= link_to("Back to List", users_path) %>
  <%= form_for(@user, method: 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this profile?</p>
    <p><%= @user.email %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Profile") %>
    </div>

  <% end %>
</div>
