
<div class="events delete">
  <header class="top-bar">
    <h1>
     Delete Event
    </h1>
  </header>
  <%= link_to("Back to List", events_path) %>
  <%= form_for(@event, method: 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this event?</p>
    <p><%= @event.eventName %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Event") %>
    </div>

  <% end %>
</div>
