<body>
  <header class="top-bar">
    <h1>
      Events
    </h1>
  </header>
  <%= link_to "New Event", new_event_path %><br><br>
  <div id="events">
    <% @events.each do |event| %>
      <%= link_to event do %>
        <%= event.eventName %>
      <% end %>
      <br>
    <% end %>
  </div>
</body>

  <h2> <%= link_to 'Back to Dashboard', dashboard_index_path %> </h2>
</div>
