<!-- app/views/rsvps/index.html.erb -->

<h1>All RSVPs</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Event Name</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= rsvp.user.full_name %></td>
        <td><%= rsvp.event.eventName %></td>
        <td><%= rsvp.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>