<body>
  <header class="top-bar">
    <h1>
      Attendance Check In
    </h1>
  </header>
  <%= link_to "Back to Home", "/dashboard/index" %><br><br>
  <div id="events">
  <h1>Events</h1>

  <%= form_tag do %>
    <label for="event">Select an event:</label>
    <%= select_tag 'event', options_from_collection_for_select(@events, 'id', 'eventName') %>
    <%= submit_tag 'Submit' %>
  <% end %>
  </div>
</body>